In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\ajantha\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd
import pymysql

In [17]:
myconnection = pymysql.connect(host = '127.0.0.1',user='root',passwd='ap3solutions')

In [ ]:
cur = myconnection.cursor()

In [ ]:
cur.execute("create database IPL_Match")

In [ ]:
myconnection = pymysql.connect(host = '127.0.0.1',user='root',passwd='ap3solutions',database = "IPL_Match")

In [ ]:
cur = myconnection.cursor()

In [ ]:
cur.execute("create table ajantha_PROD_1(make varchar(20),model varchar(20),year int,mileage int,price int,color varchar(10),state varchar(10))")

In [ ]:
#sql = "insert into ajantha_PROD_1(make,model,year,mileage,price,color,state) values ('aj','sd',2014,10,1234,'red','tn')"

In [ ]:
cur.execute("insert into ajantha_PROD_1(make,model,year,mileage,price,color,state) values ('aj','sd',2014,10,1234,'red','tn')")

In [19]:
myconnection.commit()

In [ ]:
#df=pd.read_csv("csv_example1.csv")

In [ ]:
myconnection_1 = pymysql.connect(host = '127.0.0.1',user='root',passwd='ap3solutions',database = "ajan")

In [ ]:
pd.read_sql_query("select * from student1",myconnection_1)

In [ ]:
#existing database

In [ ]:
myconnection_2 = pymysql.connect(host = '127.0.0.1',user='root',passwd='ap3solutions',database = "dtm43")

In [ ]:
pd.read_sql_query("select fname, salary,case when salary > 5000 then 'high'when salary is null then 'invalid'else 'low'end as salary_level from employee",myconnection_2)

In [5]:
myconnection_4 = pymysql.connect(host = '127.0.0.1',user='root',passwd='ap3solutions',database = "dtm43")

In [11]:
cur = myconnection_4.cursor()

In [13]:
cur.execute("insert into employee values (301,'gs','dev','HR',5000.00,'2025-01-13'), (305,'sfd','dev','R&D',5000.00,'2025-01-13'), (306,'sg','dev','HR',5000.00,'2025-01-03'), (307,'gd','dev','R&D',5000.00,'2025-01-14'), (308,'ytr','dev','HR',5000.00,'2025-01-15')")

KeyboardInterrupt:

In [ ]:
pd.read_sql_query("select * from employee",myconnection_4)