# Loops in Python

Loops in Python programming function similar to loops in C, C++, Java or other languages. Python loops are used to repeatedly execute a block of statements until a given condition returns to be **`False`**. In Python, we have **two types of looping statements**, namely:
<div>
<img src="img/loop1.png" width="200"/>
</div>

# Python `for` Loop

In this class, you'll learn to iterate over a sequence of elements using the different variations of **`for`** loop. We use a **`for`** loop when we want to repeat a code block for a **fixed number of times**.

### Syntax :

```python  
for element in sequence:
    body of for loop 
```

1. First, **`element`** is the variable that takes the value of the item inside the sequence on each iteration.

2. Second, all the **`statements`** in the body of the for loop are executed with the same value. The body of for loop is separated from the rest of the code using indentation.

3. Finally, loop continues until we reach the last item in the **`sequence`**. The body of for loop is separated from the rest of the code using indentation.

<div>
<img src="img/for0.png" width="400"/>
</div>

In [2]:
words = ["one","two","three"]
for i in words:
    print(i)

one
two
three

In [4]:
num = [10,20,30,40,50]
sum = 0
for a in num:
    print("before: ",a)
    sum = sum + a
    print("after: ", sum)
print("the sum is ",sum)

before:  10
after:  10
before:  20
after:  30
before:  30
after:  60
before:  40
after:  100
before:  50
after:  150
the sum is  150

In [38]:
num = [10,20,30,40,50]
sum = 0
for a in num:
   sum = sum + a
print("the sum is ",sum)

the sum is  150

In [6]:
num = [10,20,30,40,50]
sum = 0
for a in num:
    print("before: ",a)
    sum = sum + a
    print("after: ", sum)
print("the sum is ",sum)
list_num = len(num)
print("average: ",sum/list_num)

before:  10
after:  10
before:  20
after:  30
before:  30
after:  60
before:  40
after:  100
before:  50
after:  150
the sum is  150
average:  30.0

In [8]:
num = [10,20,30,40,50]
sum = 0
for a in num:
    print("before: ",a)
    sum = sum + a
    print("after: ", sum)
print("the sum is ",sum)

before:  10
after:  10
the sum is  10
before:  20
after:  30
the sum is  30
before:  30
after:  60
the sum is  60
before:  40
after:  100
the sum is  100
before:  50
after:  150
the sum is  150

## `for` loop with `range()` function

The **[range()](https://github.com/milaan9/04_Python_Functions/blob/main/002_Python_Functions_Built_in/053_Python_range%28%29.ipynb)** function returns a sequence of numbers starting from 0 (by default) if the initial limit is not specified and it increments by 1 (by default) until a final limit is reached.

The **`range()`** function is used with a loop to specify the range (how many times) the code block will be executed. Let us see with an example.

We can generate a sequence of numbers using **`range()`** function. **`range(5)`** will generate numbers from 0 to 4 (5 numbers). 

<div>
<img src="img/forrange.png" width="600"/>
</div>

The **`range()`** function is "lazy" in a sense because it doesn't generate every number that it "contains" when we create it. However, it is not an iterator since it supports **[len()](https://github.com/milaan9/04_Python_Functions/blob/main/002_Python_Functions_Built_in/040_Python_len%28%29.ipynb)** and **`__getitem__`** operations.

This **`range()`** function does not store all the values in memory; it would be inefficient. So it remembers the start, stop, step size and generates the next number on the go.

We can also define the start, stop and step size as **`range(start, stop,step_size)`**. **`step_size`** defaults to 1 if not provided.

In [10]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(3,15):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14

In [14]:
for i in range(2,14,2):
    print(i)

2
4
6
8
10
12

## `for` loop with `if-else`

In [16]:
for i in range(1,11):
    if i %2==0:
        print("Even number: ",i)

Even number:  2
Even number:  4
Even number:  6
Even number:  8
Even number:  10

In [18]:
for i in range(1,11):
    if i %2==0:
        print("Even number: ",i)
    else:
        print("Odd number: ",i)

Odd number:  1
Even number:  2
Odd number:  3
Even number:  4
Odd number:  5
Even number:  6
Odd number:  7
Even number:  8
Odd number:  9
Even number:  10

## `for` loop with `else`

A **`for`** loop can have an optional **`else`** block as well. The **`else`** part is executed if the items in the sequence used in for loop exhausts.

**`else`** block will be skipped/ignored when:

* **`for`** loop terminate abruptly
* the **[break statement]** is used to break the **`for`** loop.

In [20]:
dig = [1,2,3,4,5]
for x in dig:
    print("x")

x
x
x
x
x

In [22]:
dig = [1,2,3,4,5]
for x in dig:
    print(x)

1
2
3
4
5

In [24]:
dig = [1,2,3,4,5]
for x in dig:
    print(x)
else:
    print("its done")

1
2
3
4
5
its done

In [26]:
dig = [1,2,3,4,5]
for x in dig:
    print(x)
print("its done")

1
2
3
4
5
its done

In [ ]:
dig = (1,2,3,4,5)
for x in dig:
    print(x)
print("its done")

In [28]:
name = "ajantha"
for i in name:
    print(i)

a
j
a
n
t
h
a

In [32]:
dig=("ae","sr",1,4,[3,4],(1,"har"),{'a':'apple','b':'banana'})
for i in dig:
    print(i)

ae
sr
1
4
[3, 4]
(1, 'har')
{'a': 'apple', 'b': 'banana'}

In [34]:
dig = [1,2,3,4,5]
for i in dig:
    print(i)
print('its done')
print(i)

1
2
3
4
5
its done
5

In [36]:
print(i)

5

In [ ]:
dic={1:"apple",'b':"banana",3:"chikko"}
for i in dic:
    print(i)

## Using Control Statement in `for` loops in Python

Python like **`break`**, **`continue`**, etc can be used to control the execution flow of **`for`** loop in Python. Let us now understand how this can be done.

It is used when you want to exit a loop or skip a part of the loop based on the given condition. It also knows as **transfer statements**.

### a) `break` in `for` loop

Using the **`break`** statement, we can exit from the **`for`** loop before it has looped through all the elements in the sequence as shown below. As soon as it breaks out of the **`for`** loop, the control shifts to the immediate next line of code. For example,

In [40]:
num = (0,1,2,3,4,5)
for z in num:
    print(z)
    if z ==3:
        break

0
1
2
3

In [42]:
num = (0,1,2,3,4,5)
for z in num:
    
    if z ==3:
        break
    print(z)

0
1
2

In [48]:
num = (0,1,2,3,4,5)
for z in num:
    
    if z ==3:
        print(z)
        break

3

In [50]:
num = (0,1,2,3,4,5)
for z in num:
    
    if z ==3:
        print(z)
        break
    print(z)

0
1
2
3

In [52]:
num = (0,1,2,3,4,5)
for z in num:
    print(z)
    if z ==3:
        print(z)
        break

0
1
2
3
3

In [54]:
color = ['green','black', 'pink', 'yellow','red']
for i in color:
    if i =="pink":
        print(i)
        break

pink

In [56]:
color = ['green','black', 'pink', 'yellow','red']
for i in color:
    print(i)
    if i =="pink":
        break

green
black
pink

In [58]:
color = ['green','black', 'pink', 'yellow','red']
for i in color:
    if i =="pink":
        break
print(i)

pink

In [60]:
for i in color:
    if i =="pink":
        break
    print(i)

green
black

### b) `continue` in `for` loop

The **`continue`** statement is used to stop/skip the block of code in the loop for the current iteration only and continue with the next iteration. For example,

In [62]:
num = (0,1,2,3,4,5)
for z in num:
    if z ==3:
        continue
    print(z)

0
1
2
4
5

In [64]:
num = (0,1,2,3,4,5)
for z in num:
    print(z)
    if z ==3:
        continue

0
1
2
3
4
5

In [66]:
color = ['green','black', 'pink', 'yellow','red','pink']

for i in color:
    if i =="pink":
        continue
    print(i)

green
black
yellow
red

In [76]:
for i in color:
    if i ==("pink" and "black") :
        continue
    print(i)

green
pink
yellow
red
pink

In [80]:
for i in color:
    if i ==("pink" or "black") :
        continue
    print(i)

green
black
yellow
red

In [82]:
for i in color:
    if i =="pink" or "black" :
        continue
    print(i)

In [78]:
for i in color:
    if i in("pink" , "black") :
        continue
    print(i)

green
yellow
red

### c) `pass` in `for` loop

The **`pass`** statement is a null statement, i.e., nothing happens when the statement is executed. Primarily it is used in empty functions or classes. When the interpreter finds a pass statement in the program, it returns no operation.

## Nested `for` loops

**Nested `for` loop** is a **`for`** loop inside another **`for`** a loop. 


In nested loops, the inner loop finishes all of its iteration for each iteration of the outer loop. i.e., For each iteration of the outer loop inner loop restart and completes all its iterations, then the next iteration of the outer loop begins.

**Syntax:**

```python
# outer for loop
for element in sequence 
   # inner for loop
    for element in sequence:
        body of inner for loop
    body of outer for loop
other statements
```

### `for` loop inside `for` loop

#### Example: Nested `for` loop 

In this example, we are using a **`for`** loop inside a **`for`** loop. In this example, we are printing a multiplication table of the first ten numbers.

<div>
<img src="img/nforloop1.png" width="600"/>
</div>

1. The outer **`for`** loop uses the **[range()](https://github.com/milaan9/04_Python_Functions/blob/main/002_Python_Functions_Built_in/053_Python_range%28%29.ipynb)** function to iterate over the first ten numbers
2. The inner **`for`** loop will execute ten times for each outer number
3. In the body of the inner loop, we will print the multiplication of the outer number and current number
4. The inner loop is nothing but a body of an outer loop.

In [84]:
for i in range(5):
    print(i, end=" ")

0 1 2 3 4

In [86]:
for i in range(1,6):
    for j in range(1,11): # 1 * 1
        print(i*j, end = " ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [88]:
person = {"fir":"Ajantha",
         "las":"Devi",
         "Skill":["pyt", "aI","ML","DL", "TL"],
        "address":{"str":"1st road", 
                   "city":"Chennai"}}

In [92]:
for key in person:
    if key=="Skill":
        for i in person["Skill"]:
            print(i)

pyt
aI
ML
DL
TL

In [ ]:
per={"name":"raj","lasname":"kumar","skill":["pty","c"],"add":{"str":"london","dis":"krish"}}
for i in per:
  if i=="skill":
    for i in per["skill"]:
      print(i,end=" ")

In [94]:
color = ['red','black']
obj = ['flower', 'box']


for i in color:
    for j in obj:
        print(i, j)

red flower
red box
black flower
black box

In [108]:

for i in range(17,54):
    c=0
    for j in range(2,i):
        if(i%j==0):
            c=c+1
            break;
    if(c==0):
        print(i)

17
19
23
29
31
37
41
43
47
53

In [110]:
for i in range(17,54):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

17
19
23
29
31
37
41
43
47
53

In [118]:
#Prime Numer
for i in range(17,54):
    #print (i)
    for j in range(2,i):
        if i%j==0:
            break
    print(i)

17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53

In [116]:
for i in range(0,100):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

0
1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [1]:
 x = range(6)
for n in x:
    print(n)

0
1
2
3
4
5

In [3]:
x = range(2,10)
for n in x:
    print(n)

2
3
4
5
6
7
8
9

In [9]:
lis = [10,20,30,40]
for n in reversed(lis): # built in function reversed()
    print(n)

40
30
20
10

In [13]:
for n in range(5,-1,-1): # start => 5, stop = -1, step = -1
    print(n)

5
4
3
2
1
0