# Python Strings

In this class you will learn to create, format, modify and delete strings in Python. Also, you will be introduced to various string operations and functions.

## What is String in Python?

A string is a built-in type sequence of characters. It is used to handle **textual data** in python. Python **Strings are immutable sequences** of **Unicode** points. Creating Strings are simplest and easy to use in Python.

### Summary

| Data types     | Type          |         |
| :------------: | :-----------: |:------: |
| **String**     | **immutable** |  |

A character is simply a symbol. For example, the English language has 26 characters.


<div>
<img src="img/s0.png" width="600"/>
</div>

## How to create a string in Python?

Strings can be created by enclosing characters inside a **single quote** or **double-quotes**. Even **triple quotes** can be used in Python but generally used to represent multiline strings and docstrings.

In [1]:
a= 'Ajantha'
b = "dev"
c = '''hi''' # multi
d="""python""" # multi line

In [3]:
d[2]

't'

In [5]:
d[4]

'o'

In [7]:
d[-5]

'y'

In [9]:
d[6]

IndexError: string index out of range

In [11]:
d[-6]

'p'

## How to slice a string in Python?

Python String **slice** can be defined as a **substring** which is the part of the string. Therefore further substring can be obtained from a string.

There can be many forms to slice a string, as string can be accessed or indexed from both the direction and hence string can also be sliced from both the directions.

Slicing can be best visualized by considering the index to be between the elements as shown below.

If we want to access a range, we need the index that will slice the portion from the string.

<div>
<img src="img/s16.png" width="300"/>
</div>

**Syntax** of Slice Operator :

```python
str[start : stop : step ]
```

other syntax of slice:

```python
str[start : stop]  # items start through stop-1

str[start : ]      # items start through the rest of the array

str[ : stop]       # items from the beginning through stop-1

str[ : ]           # a copy of the whole array
```

In [13]:
a = 'python prog'

In [15]:
a[3]

'h'

In [17]:
a[9]

'o'

In [19]:
a[-9]

't'

In [23]:
a[::]

'python prog'

In [25]:
a[:4:]

'pyth'

In [27]:
a[1:4:]

'yth'

In [29]:
a[1:-8:]

'yt'

In [31]:
d

'python'

In [33]:
d[::2]

'pto'

In [35]:
d[::3]

'ph'

In [37]:
d[::-1]

'nohtyp'

In [39]:
d[::]

'python'

In [41]:
d[-5:-1:]

'ytho'

In [43]:
d[1:5:]

'ytho'

In [45]:
d[5:1:]

''

In [47]:
d[-1:-5:]

''

## Breaking appart strings

When processing text, the ability to split strings appart is particularly useful. 

* `partition(separator)`: breaks a string into three parts based on a separator

* `split()`: breaks string into words separated by white-space (optionally takes a separator as argument)

* `join()`: joins the result of a split using string as separator

In [1]:
s = 'one, two, three'

In [3]:
s.partition('t')

('one, ', 't', 'wo, three')

In [5]:
s.partition('z')

('one, two, three', '', '')

In [7]:
s.partition('o')

('', 'o', 'ne, two, three')

In [9]:
s.partition('three')

('one, two, ', 'three', '')

In [11]:
s.partition(',')

('one', ',', ' two, three')

In [13]:
s

'one, two, three'

In [15]:
s.split() # space

['one,', 'two,', 'three']

In [17]:
s.split(',')

['one', ' two', ' three']

In [19]:
s1 = 'one two three'

In [21]:
s1.split()

['one', 'two', 'three']

In [23]:
s1.split('t')

['one ', 'wo ', 'hree']

In [25]:
s1.split('z')

['one two three']

In [27]:
s1

'one two three'

In [29]:
l1 = s1.split()
l1 # list

['one', 'two', 'three']

In [31]:
l1

['one', 'two', 'three']

In [33]:
" ".join(l1)

'one two three'

In [35]:
"#".join(l1)

'one#two#three'

In [37]:
"->".join(l1)

'one->two->three'

In [39]:
srt_1 = "Python 3.0 was released on 3 December 2008, with some new semantics and changed syntax."

In [43]:
srt_1.partition('w')

('Python 3.0 ',
 'w',
 'as released on 3 December 2008, with some new semantics and changed syntax.')

In [47]:
l2 = srt_1.split('3')

In [49]:
l2

['Python ',
 '.0 was released on ',
 ' December 2008, with some new semantics and changed syntax.']

In [51]:
"&".join(l2)

'Python &.0 was released on & December 2008, with some new semantics and changed syntax.'

In [55]:
s3 = "ajantha devi"

In [57]:
"&&".join(s3.split())

'ajantha&&devi'

In [59]:
l4 = ['ajantha','devi']
"".join(l4)

'ajanthadevi'

In [63]:
l = ["abc", 'True']
j = " ".join(l)
print(j)

abc True

## How to change or delete a string?

Strings are immutable. This means that elements of a string cannot be changed once they have been assigned. We can simply reassign different strings to the same name.

In [49]:
d

'python'

In [51]:
d[4]

'o'

In [53]:
d[4]='a'

TypeError: 'str' object does not support item assignment

In [55]:
del d[4]

TypeError: 'str' object doesn't support item deletion

In [57]:
del d

In [59]:
d

NameError: name 'd' is not defined

In [61]:
d = "python"

In [67]:
d[-5:-2:+1]

'yth'

In [71]:
d[-5:-2:-1]

''

In [73]:
d[-2:-5:-1]

'oht'

In [75]:
d[-2:-5:]

''

## Python Strings Operations

There are many operations that can be performed with strings which makes it one of the most used data types in Python.


To perform operation on string, Python provides basically 3 types of Operators that are given below.

* Basic Operators/Concatenation of Two or More Strings.
* Membership Operators.
* Relational Operators.

### 1. Basic Operators for concatenation of two or more strings

There are two types of basic operators in String **`+`** and **`*`**.

The **`+`** (concatenation) operator can be used to concatenates two or more string literals together.

The **`*`** (Replication) operator can be used to repeat the string for a given number of times.

#### String Concatenation Operator (**`+`**)
Joining of two or more strings into a single one is called concatenation.

In [65]:
s1 = "ajantha"
s2 = "devi"
s1+s2

'ajanthadevi'

In [67]:
s1+" "+s2

'ajantha devi'

In [69]:
s1*3

'ajanthaajanthaajantha'

In [71]:
(s1+" ")*3

'ajantha ajantha ajantha '

In [73]:
s1*3.5

TypeError: can't multiply sequence by non-int of type 'float'

### 2. Python String Membership Operators

Membership Operators are already discussed in the Operators section. Let see with context of String.

There are two types of Membership operators :

1. **`in`** - "in" operator returns true if a character or the entire substring is present in the specified string, otherwise false.

2. **`not in`** - "not in" operator returns true if a character or entire substring does not exist in the specified string, otherwise false.

In [75]:
s1 = "Hello World"
s2 = "hello"
s3 = "World"

In [77]:
s2 in s1

False

In [79]:
s3 in s1

True

In [81]:
s2 not in s1

True

### 3. Python Relational Operators 

All the comparison (relational) operators i.e., **(<, ><=, >=, ==, !=, <>)** are also applicable for strings. The Strings are compared based on the **ASCII value** or **Unicode**(i.e., dictionary Order).

In [97]:
'a'>'A'>'c'

False

In [85]:
"python" > "Pyhton"

True

In [87]:
"python">"pyThon"

True

In [89]:
"Python">"python"

False

In [ ]:
# >
# <
# >=
# <=
# ==
# <>
# !=

In [91]:
"Python">"p+ython1"

False

In [93]:
"python">"python1"

False

In [ ]:
"python">"python1"