# Python Input, Output and Import

This class focuses on two built-in functions **`print()`** and **`input()`** to perform I/O task in Python. Also, you will learn to import modules and use them in your program.


Some of the functions like **`print()`** and **`input()`** are widely used for standard input and output operations respectively. Let us see the output section first.

## 1. Python Output Using `print()` function


An example of its use is given below.

In [1]:
x=6;y=12
print(x,y)

6 12

In [9]:
print(x,"\n",y)

6
 12

In [13]:
print("this is the value of x: {} any y:{}".format(x,y)) # declare

this is the value of x: 6 any y:12

In [15]:
print("this is the value of x: {} any y:{}".format("apple",y)) # direct

this is the value of x: apple any y:12

In [17]:
print(x)

6

In [19]:
print("this is the value of x: {0} any y:{1}".format("apple","mango")) # tuple => index => 0

this is the value of x: apple any y:mango

In [21]:
print("this is the value of x: {0} any y:{0}".format("apple","mango"))

this is the value of x: apple any y:apple

## Output formatting

Sometimes we would like to format our output to make it look attractive. This can be done by using the **`str.format()`** method. This method is visible to any string object.

In [25]:
print("this is the value of x: {1} any y:{2}".format("apple","mango", "orange"))

this is the value of x: mango any y:orange

In [27]:
print("hello {}, welcome for {}".format("ajantha","python session"))

hello ajantha, welcome for python session

In [29]:
print("hello {1}, welcome for {1}".format("ajantha","python session")) # index

hello python session, welcome for python session

In [31]:
print("hello {}, welcome for {},{}".format("ajantha","python session"))

IndexError: Replacement index 2 out of range for positional args tuple

In [33]:
print("hello {}, welcome for {}".format("ajantha","python session", "devi"))

hello ajantha, welcome for python session

In [35]:
print("hello {x}, welcome for {a},{a}".format(a = "ajantha",x = "python session")) # keyword

hello python session, welcome for ajantha,ajantha

In [37]:
print("hello {}, welcome for {}".format(2,3))

hello 2, welcome for 3

In [39]:
print("hello {}, welcome for {}".format(2,"devi"))

hello 2, welcome for devi

In [47]:
print("hello {0}, welcome for {1},{0}".format(2,"devi"))

hello 2, welcome for devi,2

In [49]:
print("hello {0}, welcome for {1},{0}")

hello {0}, welcome for {1},{0}

## 2. Python Input Using `input()` function

Up until now, our programs were static. The value of variables was defined or hard coded into the source code.

To allow flexibility, we might want to take the input from the user. In Python, we have a built-in function **`input()`** to accept user input.

**Syntax**:

```python
input([prompt])
```

where **`prompt`** is the string we wish to display on the screen. It is optional.

In [51]:
b=6

In [53]:
b

6

In [55]:
a =input("enter a number")

enter a number 67

In [57]:
a

'67'

In [59]:
c=int(input("enter the number"))

enter the number 98

In [61]:
c

98

In [63]:
type(c)

int

In [65]:
d = float(input("enter the amount"))

enter the amount 23.4

In [67]:
type(d)

float

In [69]:
name, age, cost = "ajantha", 98, 87.65

In [71]:
name, age, phone = input("enter your name, age and number")

enter your name, age and number ajantha, 88, 2891379821739

ValueError: too many values to unpack (expected 3)

In [73]:
name, age, phone = input("enter your name, age and number").split()

enter your name, age and number ajantha 99 98374982374

In [75]:
name

'ajantha'

In [77]:
age

'99'

In [79]:
name, age, phone = input("enter your name, age and number").split()

enter your name, age and number ajantha devi 77 81726387123

ValueError: too many values to unpack (expected 3)

In [81]:
name, age, phone = input("enter your name, age and number(sep with comma)").split(',')

enter your name, age and number(sep with comma) ajantha devi,99,1231297

In [83]:
name

'ajantha devi'

In [85]:
name, age, phone = input("enter your name, age and number(sep with #)").split('#')

enter your name, age and number(sep with #) ajantha devi#45#34728397492

In [87]:
name, age, phone = input("enter your name, age and number(sep with #)").split('#')

enter your name, age and number(sep with #) l

ValueError: not enough values to unpack (expected 3, got 1)

## 3. Python `Import` function

When our program grows bigger, it is a good idea to break it into different modules.


Definitions inside a module can be imported to another module or the interactive interpreter in Python. We use the **`import`** keyword to do this.

For example, we can import the **`math`** module by typing the following line:

```python
>import math
```

In [90]:
pi

NameError: name 'pi' is not defined

In [92]:
from math import pi

In [94]:
pi

3.141592653589793

In [96]:
import math

In [98]:
math.pi

3.141592653589793

In [100]:
math.sin(30)

-0.9880316240928618

In [102]:
math.sin(90)

0.8939966636005579

In [104]:
from math import sin

In [106]:
import const

In [108]:
const.PI

'ajantha'

In [110]:
import math

In [112]:
math.sqrt(3)

1.7320508075688772